body {
  align-content: center;
}

.table {
  /* display: block; */
}
.row {
  /* display: block; */
}

.cell {
  display: inline-block;
  /* background-color: lightblue; */
  width: 200px;
  height: 200px;
}

.cell:hover {
  border: solid thin gray;
}

/* i want to align the figure and caption to center */
figcaption {
}
