body {
  align-content: center;
}

.table {
  /* display: block; */
}
.row {
  /* display: block; */
}

/* i want to align a placeholder image and caption center */
.cell {
  /* border: solid; */
  display: inline-block;
  /* background-color: lightblue; */
  width: 200px;
  height: 200px;
}
