body {
  text-align: center;
}

.table {
  /* display: block; */
}
.row {
  /* display: block; */
}

.cell {
  display: inline-block;
  /* border: solid 1px gray; */
  text-align: center;
  width: 200px;
  height: 200px;
}

img {
  width: 150px;
  height: 150px;
  padding-top: 10px;
  /* padding-bottom: 10px; */
}

p {
  margin-top: 3px;
}

.cell:hover {
  border: solid thin black;
  box-sizing: border-box;
}

/* i want to align the figure and caption to center */
figcaption {
}
